 <header id="header">
    <h1 >Quiz Game </h1>
  
      
      {{#if loggedIn}}
      <h2>Welcome <span>Name!</span>!</h2>
      {{/if}}
    
    <nav id="nav">
      <ul>
        {{#if loggedIn}}
        <li><a href="/newgame"> New Game </a></li>
        <li><a href="/myhistory">My history</a></li>
        <li><a href="/rankList">RankList</a></li>
        <li><a href="/users">Find Friends</a></li>
       
        {{else}}
     <li><a href="/login">Login</a></li>
     <li><a href="/register">Register</a></li>
     
        {{/if}}
      </ul>
    </nav>
  </header>