<h1>Quiz game</h1>
<label for="category">Choose a category:</label>
<select id="category" name="Category">
    <option value="10">Books</option>
    <option value="11">Films</option>
    <option value="12">Music</option>
    <option value="15">Video Games</option>
</select>

<label for="Difficulty">Select difficulty:</label>
<select id="difficulty" name="difficulty">
    <option value="easy">Easy</option>
    <option value="medium">Medium</option>
    <option value="hard">Hard</option>
  </select>


<a href="/login">login</a>
<a href="/register">register</a>
<div class="buttons">
    <button>Start game</button>
</div>

