{{>header}}
<section id="login">
            <div class="color">
              <div class="login-form">
                <h1>Login</h1>
        <form id="form" class="text-center border border-light p-5" action="" method="" onsubmit="myFunctions.onLoginSubmit(event)" >
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="Email" name="email" value="">
             <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password" value="">
            <button type="submit" clkass="btn btn-primary">Login</button>
        </form>
        <a  class="navigate"href="/register">Register</a>
        </div>
        </div>
</section>