{{>header}}
<div class="offer-details">
    <h1>{{shoe.model}}</h1>
    <div class="info">
        <img src="{{shoe.img}}" alt="">
        <div class="description">{{shoe.description}}
            <br>
            <br>
            <p class="price">${{shoe.price}}</p>
        </div>
    </div>
    <div class="actions">
        <a>Edit</a>
        <a>Delete</a>
        <a>Buy</a>
        <span>You bought it</span>
    </div>
</div>
{{>footer}}