   {{>header}}
   <div class="offer-details" >
            <h1>{{model}}</h1>
            <div class="info">
                <img src="https://i1.t4s.cz/products/3023295-602/under-armour-ua-w-hovr-phantom-se-trek-263676-3023295-603.jpg"
                    alt="">
                <div class="description">{{description}}
                    <br>
                    <br>
                    <p class="price">${{price}}</p>
                </div>
            </div>
            <div class="actions">
                <a>Edit</a>
                <a>Delete</a>
                <a>Buy</a>
                <span>You bought it</span>
            </div>
        </div>
        {{>footer}}