{{>header}}
<div class="offer-details">
    <h1>{{model}}</h1>
    <div class="info">
        <img src="{{img}}" alt="">
        <div class="description">{{description}}
            <br>
            <br>
            <p class="price">${{price}}</p>
        </div>
    </div>
    <div class="actions">
        {{#if isAuthor}}
        <a>Edit</a>
        <a>Delete</a>
        {{/if}}
        <a>Buy</a>
        <span style="display: none;"  >You bought it</span>
    </div>
</div>
{{>footer}}